<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../media/img-site/logo-site-meutube-icon.png" type="image/x-icon">
    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header class="flex-container">
        <div id="logo-site">
            <a href="{% url 'website:index' %}">
                <img src="../media/img-site/logo-site-meutube.png" alt="logo-site">
            </a>
        </div>
        <nav>
            <ul id="nav-menu" class="flex-container">
                <li><a href="{% url 'website:processar_video' %}">[ Video Download MP4 ]</a></li>
                <li><a href="">[ Video Converter MP3 ]</a></li>
        </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
        <div class="footer-content">
            <div class="footer-col footer-legal-contato">
                <h3>Legal & Contato</h3>

                <ul>
                    <li><a href="{% url 'website:isencao_responsabilidade' %}">Isenção de Responsabilidade</a></li>
                    <li><a href="{% url 'website:termos_de_uso' %}">Termos de Uso/Serviço</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Contato</h4>
                <div class="footer-contato">Email: <a href="mailto:henriquematheo@hotmail.com">henriquematheo@hotmail.com</a></div>
                <div class="footer-contato">Telefone: <a href="tel:+5547999606784">(47) 99960-6784</a></div>
            </div>

            <div class="footer-col footer-logo-social">
                <h3>Redes Sociais</h3>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/matheohenrique/" target="_blank">LinkedIn</a>
                    <a href="https://github.com/Matheo-Henrique-Moura-Silva" target="_blank">GitHub</a>
                    <a href="https://matheo-henrique-moura-silva.github.io/" target="_blank">Portfólio</a>
                    <a href="https://instagram.com/henrique_matheo" target="_blank">Instagram</a>
                </div>
            </div>

        </div>
        
        <div class="footer-bottom">
            <hr>
            
            <p class="endereco">
                Endereço: Centro, Petrolândia, Santa Catarina, Brasil.
            </p>

            <p class="copyright">
                &copy; 2025 MeuTube. Todos os direitos reservados.
            </p>
        </div>
    </footer>

    <script src="{% static 'js/base.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>