{% extends "base.html" %} {% load static %}

{% block title %}
    {% if mostrar_opcoes and formatos %}
        MeuTube - {{ titulo }}
    {% else %}
        MeuTube - Baixe Seus Video do Youtube
    {% endif %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<section id="hero-section" class="flex-container">
    <div id="download-area">
        <h1 class="main-subtitle">Baixe Vídeos do YouTube
            <span class="destaque">de Forma Simples</span>
            .
        </h1>
        <p class="secondary-text">Sua ferramenta rápida e segura para conversão e download de vídeos.</p>
        <form id="download-form" action="{% url 'website:processar_video' %}" method="POST" class="flex-container">
            {% csrf_token %}
            <div id="input-wrapper" class="flex-container">
                <input
                    id="video_url" 
                    name="video_url" 
                    placeholder="{% if mostrar_opcoes and formatos %}{% else %}Cole o link do vídeo do YouTube aqui...{% endif %}"
                    value="{% if mostrar_opcoes and formatos %}{{ url }}{% endif %}"
                >
            </div>
            <button type="submit" id="download-btn" class="flex-container">
                Buscar
            </button>
        </form>
        <p class="guideline-text">Ao clicar em "Baixar", você concorda com nossas diretrizes de uso justo.</p>
        {% if messages %}
            <div id="feedback-messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <!-- Sessão de Opções de Download -->
         {% if mostrar_opcoes and formatos %}
        <section id="video-options-section" class="flex-container">
            
            <div id="video-info" class="flex-container">
                <a href="{{ url }}" target="_blank">
                    <img src="{{ thumbnail }}" alt="Thumbnail do Vídeo" id="video-thumbnail">
                </a>
                <a href="{{ url }}" target="_blank">
                    <h3 id="video-title">{{ titulo }}</h3>
                </a>
            </div>
            
            <div id="download-buttons-group" class="flex-container">
                <p class="download-label">Qualidades De Vídeos Disponíveis:</p>
                {% if formatos %}
                    {% for op, valor in formatos.items %}
                        <form action="{% url 'website:iniciar_download' %}" method="POST">
                            {% csrf_token %}
                            {% for key, value in valor.items %}
                                {% if key == 'format_id' %}
                                    <input
                                        id="id_formato"
                                        name="id_formato"
                                        style="display: none;"
                                        value="{{ value }}"
                                    >
                                {% endif %}
                            {% endfor %}
                            <input
                                id="id_url"
                                name="id_url"
                                style="display: none;"
                                value="{{ url }}"
                            >
                            <button type="submit" class="download-btn-quality">
                                Baixar | {{ op }}p |
                                {% for key, value in valor.items %}
                                    {% if key == 'tamanho' %}
                                        {{ value }}
                                    {% endif %}
                                {% endfor %}
                            </button>
                        </form>
                    {% endfor %}
                {% else %}
                    <p style="cursor: not-allowed;" class="download-btn-quality">Nenhuma opção de Download</p>
                {% endif %}
                
            </div>
            
        </section>
        <p class="guideline-text high-res-note">*Qualidades acima de 720p podem exigir processamento extra (somente vídeo).</p>
        {% endif %}
    </div>
</section>
<hr class="separator">
<section id="instructions-section">
    <h2>Como Funciona?</h2>
    <div id="instruction-cards" class="flex-container">
        <div class="card">
            <img src="../media/img-site/it-uso-copiar.png" alt="Copiar Link">
            <p class="card-description flex-container">
                <span>1. Copie o link do vídeo no YouTube.</span>
            </p>
        </div>
        <div class="card">
            <img src="../media/img-site/it-uso-colar.png" alt="Colar Link">
            <p class="card-description flex-container">
                <span>2. Cole o link na barra de pesquisa e clique em buscar.</span>
            </p>
        </div>
        <div class="card">
            <img src="../media/img-site/it-uso-qualidade.png" alt="Escolher Qualidade">
            <p class="card-description flex-container">
                <span>3. Selecione a qualidade desejada.</span>
            </p>
        </div>
        <div class="card">
            <img src="../media/img-site/it-uso-baixar.png" alt="Fazer Download">
            <p class="card-description flex-container">
                <span>4. Clique em "Baixar" e aproveite!</span>
            </p>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}{% endblock %}
