/* Variaveis */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-background-primary: #0D0D0D;
    --color-background-secundary: #382059;
    --color-destaque-primary: #D052F2;
    --color-destaque-secundary: #52D99A;
    --color-font: #D9D9D9;
    --color-secundary: #AC79F2;
    --color-light: #8552F2;
    --color-primary: #387357;
    --color-error: #F25252;
    --color-warning: #F2C94C;
    --font-primary: "JetBrains Mono", monospace;;
}
/* Fim - Variaveis */

/* Resetando Padrão */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

html, body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}
/* Fim - Resetando Padrão */

/* Gerais */
body {
    padding-top: 4rem;
    background-color: var(--color-background-secundary);
    font-family: var(--font-primary);
}
/* Fim - Gerais */

 /* Classes */
 .flex-container {
    display: flex;
 }
/* Fim - Classes */

/* HEADER */
header {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 1000;
    background-color: var(--color-background-primary);
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}& nav ul {
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
}

#logo-site {
    max-width: 15rem;
}& #logo-site img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 1px 2px var(--color-primary);
    padding: 0.3rem;
    transition: all 0.4s ease-in;
}& #logo-site img:hover {
    box-shadow: 0px 0px 1px 2px var(--color-destaque-primary);
}

#nav-menu li {
    color: var(--color-font);
}& #nav-menu li a {
    transition: all 0.4s ease-in;
}& #nav-menu li a:hover {
    text-decoration-line: underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: var(--color-destaque-primary);
}
/* Fim - HEADER */

/* MAIN */
main {
    padding-left: 6rem;
    padding-right: 6rem;
}

#feedback-messages {
    width: 40%;
    max-width: 700px;
    margin: 2rem auto 0 auto;
    text-align: center; 
}

.alert {
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    font-weight: 700;
    color: var(--color-background-primary);
    font-size: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.success {
    background-color: var(--color-destaque-secundary);
    border: 1px solid var(--color-destaque-secundary);
}

.error {
    background-color: var(--color-error); 
    border: 1px solid var(--color-error);
    color: var(--color-font);
}

.warning {
    background-color: var(--color-warning); 
    border: 1px solid var(--color-warning);
    color: #333;
}

.info {
    background-color: var(--color-secundary); 
    border: 1px solid var(--color-light);
    color: var(--color-background-primary);
}
/* Fim - MAIN */

/* FOOTER */
footer {
    padding-top: 15rem;
}

.footer-content {
    display: flex;
    justify-content: space-between; 
    padding: 20px 5%;
    background-color: var(--color-background-primary); 
    color:var(--color-destaque-secundary);
    flex-wrap: wrap; 
}

.footer-col {
    width: 350px; 
    margin-bottom: 20px;
}

.footer-col a {
    color: var(--color-font); 
    text-decoration: none;
    display: block; 
    padding: 5px 0;
}
.footer-col a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-font);
}

.footer-bottom {
    text-align: center;
    padding: 10px 5%;
    background-color: var(--color-background-primary);
    color: var(--color-font);
    font-size: 0.8em;
}

.footer-contato {
    color: var(--color-light);
    display: flex;
    align-items: center;
}
/* Fim - FOOTER */
.spinner-hidden {
    display: none;
}

#loading-spinner {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--color-destaque-primary);
}

.loader {
    border: 5px solid var(--color-font); 
    border-top: 5px solid var(--color-secundary); 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite; 
    margin: 0 auto 10px auto; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ocultar-section {
    display: none;
}