/* Variaveis */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-background-primary: #0D0D0D;
    --color-background-secundary: #382059;
    --color-destaque-primary: #D052F2;
    --color-destaque-secundary: #52D99A;
    --color-font: #D9D9D9;
    --color-secundary: #AC79F2;
    --color-light: #8552F2;
    --color-primary: #387357;
    --font-primary: "JetBrains Mono", monospace;;
}
/* Fim - Variaveis */

/* Resetando Padrão */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

html, body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}
/* Fim - Resetando Padrão */

/* Gerais */
body {
    padding-top: 4rem;
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: var(--color-background-secundary);
    font-family: var(--font-primary);
}
/* Fim - Gerais */

 /* Classes */
 .flex-container {
    display: flex;
 }
/* Fim - Classes */

/* HEADER */
header {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 1000;
    background-color: var(--color-background-primary);
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}& nav ul {
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
}

#logo-site {
    max-width: 15rem;
}& #logo-site img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 1px 2px var(--color-primary);
    padding: 0.3rem;
    transition: all 0.4s ease-in;
}& #logo-site img:hover {
    box-shadow: 0px 0px 1px 2px var(--color-destaque-primary);
}

#nav-menu li {
    color: var(--color-font);
}& #nav-menu li a {
    transition: all 0.4s ease-in;
}& #nav-menu li a:hover {
    text-decoration-line: underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: var(--color-destaque-primary);
}
/* Fim - HEADER */

/* MAIN */
/* Fim - MAIN */

/* FOOTER */
footer {
    text-align: center;
    align-items: center;
    margin-top: 6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    color: var(--color-secundary);
}
/* Fim - FOOTER */
